<layout name="layout" />
<div class="main-div">
    <form action="__SELF__" method="post" name="theForm" enctype="multipart/form-data">
        <table width="100%" id="general-table">
            <tr>
                <td class="label">分类名称:</td>
                <td>
                    <input type='text' name='name' maxlength="20" value='' size='27' /> <font color="red">*</font>
                </td>
            </tr>
            <tr>
                <td class="label">上级分类:</td>
                <td>
                    <select name="parent_id">
                        <option value="0">顶级分类</option>
                        <?php foreach($data as $k => $v): ?>
                        <?php echo '<option value="'.$v['id'].'">'.str_repeat('-',4*$v['level']).$v['name'].'</option>'; ?>
                        <?php endforeach; ?>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="label">排序:</td>
                <td>
                    <input type="text" name='order_id'  value="100" size="15" />
                </td>
            </tr>
            <tr>
                <td class="label">是否显示:</td>
                <td>
                    <input type="radio" name="is_index" value="1"  checked="true"/> 是
                    <input type="radio" name="is_index" value="0"  /> 否
                </td>
            </tr>
            <tr>
                <td class="label">分类展示图</td>
                <td>
                    <input type="file" name="img_src" id="logo" size="45"><br/>
                    <span class="notice-span" style="display:block"  id="warn_brandlogo">如作为顶级分类且显示请上传展示图</span>
                </td>
            </tr>
        </table>
        <div class="button-div">
            <input type="submit" value=" 确定 " />
            <input type="reset" value=" 重置 " />
        </div>
    </form>
</div>
