<layout name="layout" />
<style>
    .hide{
        display: none;
    }
</style>
<form method="post" action="" name="listForm">
    <div class="list-div" id="listDiv">
        <table width="100%" cellspacing="1" cellpadding="2" id="list-table">
            <tr>
                <th>分类名称</th>
                <th>是否显示</th>
                <th>排序</th>
                <th>操作</th>
            </tr>
            <?php foreach($data as $k=> $v): ?>
                <tr class="tron par<?php echo $v['parent_id'] ?>  <?php echo ($v['level'] != 0)?'hide': '';?>" dat="<?php echo $v['id'] ?>">
                    <td ><?php echo str_repeat('-',4*$v['level']).$v['name'] ?></td>
                    <td align="center"><?php echo ($v['is_index']==1)?'显示':'不显示'; ?></td>
                    <td align="center" ><?php echo $v['order_id'] ?></td>
                    <td align="center" >
                        <a href="<?php echo U('edit?id='.$v['id']) ?>">编辑</a> |
                        <a href="<?php echo U('del?id='.$v['id']) ?>" title="移除" onclick="delete()">移除</a>
                    </td>
                </tr>
            <?php endforeach; ?>
        </table>
    </div>
</form>
<!--引入高亮显示-->
<script type="text/javascript" src="__PUBLIC__/Admin/Js/tron.js"></script>
<script type="text/javascript">
        $('.tron').click(function() {
            var pa = $(this).attr("dat");
            var sub = '.par'+pa;
            $(sub).toggleClass('hide');
        });
</script>