<layout name="layout" />
<div class="main-div">
    <form method="post" action="__SELF__"enctype="multipart/form-data" >
        <table cellspacing="1" cellpadding="3" width="100%">
        <input type="hidden" name="id" value="<?php echo $data['id'] ?>">
            <tr>
                <td class="label">属性名称</td>
                <td>
                    <input type="text" name="attr_name" maxlength="60" value="<?php echo $data['attr_name'] ?>" />
                    <span class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">属性类型</td>
                <td>
                    <input type="radio" name="attr_type" <?php if($data['attr_type'] == 2)echo 'checked="checked"'; ?> value="2">可选
                    <input type="radio" name="attr_type" <?php if($data['attr_type'] == 1)echo 'checked="checked"'; ?> value="1">唯一
                    <span class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">属性可选值</td>
                <td>
                    <input type="text" name="attr_option_values" maxlength="60" value="<?php echo $data['attr_option_values'] ?>" />
                </td>
            </tr>
            <tr>
                <td class="label">所属类型</td>
                <td>
                    <?php buildSelect('type','type_id','id','type_name',$data['type_id']) ?>
                    <span class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center"><br />
                    <input type="submit" class="button" value=" 确定 " />
                    <input type="reset" class="button" value=" 重置 " />
                </td>
            </tr>
        </table>
    </form>
</div>