<layout name="layout" />
<div class="list-div" id="listDiv">
<?php
$CombineCount = 1;
foreach($gaData as $k => $v)
{
    $CombineCount *= count($v);
}
$RepeatTime = $CombineCount;
foreach($gaData as $k => $v)
{
    // $StudentList中的元素在拆分成组合后纵向出现的最大重复次数
    $RepeatTime = $RepeatTime / count($v);
    $StartPosition = 1;
    // 开始对每个进行循环
    foreach($v as $v1)
    {
        $TempStartPosition = $StartPosition;
        $SpaceCount = $CombineCount / count($v) / $RepeatTime;
        for($J = 1; $J <= $SpaceCount; $J ++)
        {
            for($I = 0; $I < $RepeatTime; $I ++)
            {
               $Result[$TempStartPosition + $I][$k] = $v1['id'];
            }
            $TempStartPosition += $RepeatTime * count($v);
        }
        $StartPosition += $RepeatTime;
    }
}
?>
 <form method="post" action="__SELF__" name="listForm">
       <table cellpadding="3" cellspacing="1">
            <tr>
                <?php foreach($gaData as $k => $v): ?>
                <th><?php echo $k; ?></th>
                <?php endforeach; ?>
                <?php if(empty($gaData)){ ?>
                <th>无属性</th>
                <?php } ?>
                <th>商品价格</th>
                <th>商品库存</th>
                <th>商品图</th>
            </tr>
            <?php if(empty($gaData)){ ?>
           <td align="center">默认</td>
           <input type="hidden" name="goods_attr_id[]" value="0">
           <td align="center"><input type="text" name="goods_price[]" value="<?php echo $goodsPri; $goodsPri = ''; ?>"></td>
           <td align="center"><input type="text" name="goods_number[]" value="<?php echo $goodsNum; $goodsNum = ''; ?>"></td>
           <td align="center"><input type="file" name="goods_img[]" ></td>
            <?php } ?>
            <?php foreach($Result as $k0 => $v0): 
              sort($v0,SORT_NUMERIC);
              $ret = implode(',',$v0);
            ?>
            <tr class="tron">
            <?php foreach($gaData as $k => $v): ?>
                   <td align="center">
                     <select name="goods_attr_id[]">
                     <option value="">请选择...</option>
                     <?php foreach($v as $k1 => $v1): 
                         if(in_array($v1['id'],$v0)){
                         	$select = 'selected="selected"';
                         }else{
                         	$select = '';
                         }
                     ?>
                     <option <?php echo $select; ?> value="<?php echo $v1['id'];?>"><?php echo $v1['attr_value'];?></option>
                     <?php endforeach; ?>
                     </select>
                   </td>
                <?php endforeach; ?>
                <?php foreach($gnData as $k2 => $v2):
                     if($v2['goods_attr_id']==$ret){
                     	$goodsNum = $v2['goods_number'];
                     }
                 ?>
                <?php endforeach;?>
                <td align="center"><input type="text" name="goods_price[]" value="<?php echo $goodsPri; $goodsPri = ''; ?>"></td>
                <td align="center"><input type="text" name="goods_number[]" value="<?php echo $goodsNum; $goodsNum = ''; ?>"></td>
                <td align="center"><input type="file" name="goods_img[]" ></td>
            </tr>
            <?php endforeach; ?>
      </table>
      <div class="button-div">
                <input type="submit" value=" 确定 " class="button"/>
            </div>
 </form>
</div>
 <!--引入高亮显示-->
<script type="text/javascript" src="__PUBLIC__/Admin/Js/tron.js"></script>          

